<!DOCTYPE html>
<html>
<head>
  <title>Eacusr</title>
  <%= stylesheet_link_tag    "eacusr/application", :media => "all" %>
  <%= javascript_include_tag "eacusr/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
