<h1>EACUSR User-Engine</h1>

<p>
  The User-Engine is not implemented yet.<br/>
  Anyhow, this template demonstrates that the engine is embedded correctly.
</p>

<%= link_to 'Back to root-application', main_app.root_path %>
